


<head>
    <title>Limpou! - Dúvidas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style_duvida.css" />
    <script type="javascript" src="button.js"></script>
    <link rel="shortcut icon" href="~/Imagens/logo_site.png">
</head>

<body>
    

    <section>

        <div class="duvida">
        <h1>Perguntas Frequentes</h1>
        <h2>Para que serve a Limpou?</h2>
        <p> O software "Limpou" serve de ferramenta para encontrar<br>vagas no serviço doméstico, e também para contratar.</p>
        <h3>Como faço para começar?</h3>
        <p>Basta ir na página inicial e escolher qual o tipo de login você deseja.</p>
        <h4>A limpou é confiável?</h4>
        <p> 100% confiável, a idéia é ajudar as pessoas que buscam vagas <br>e prestadores de forma fácil e rápida.</p>
        <h5>. Como eu faço para encontrar vagas ou prestadores de serviço?</h5> 
        <p> Nosso sistema cria um perfil para contratantes e prestadores, <br>para que você possa ver quem é a pessoa com quem vai conversar.</p>
    
        </div>
     </section>
    <a class="buttons__encontrar--buscar" asp-controller="Home" asp-action="Index">Página Incial</a>

    </body>
