
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Stylehome.css" />
    <title>Página Inicial</title>
</head>


<body>
    <header>
        <div class="cabecalho"> 
        <a class="link" asp-controller="Home" asp-action="Duvidas">Dúvidas</a>
        <a class="link" asp-controller="Home" asp-action="Pagamento">Formas de pagamento</a>
        </div>
    </header>


    <section>
      
        <div class="banner">
          <img src="~/Imagens/logosemfundo.png">
          </div>

      <h1>Como você deseja se conectar?</h1>
      
      
      <div class="containerOfButtons">
              
      
        <div class ="button"> <a class="buttons__encontrar--buscar" asp-controller="Login" asp-action="Cadastro">Cadastrar Serviço </a> </div>

       <div class ="button"> <a class="buttons__encontrar--buscar" asp-controller="Usuarios" asp-action="Create">Cadastre-se</a> </div>

 
      </div> 
      
  </section>
</body>

 