<head>
    <title>Limpou!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/TelaOpcaoDeCadastros.css">
    <link rel="shortcut icon" href="~/Imagens/logo_site.png">
</head>

<body>
   


    <section>
        <h1>Escolha seu cadastro!</h1>
        <div class="Div2Botoes">
        
                  <div class ="button"> <a class="buttons__encontrar--buscar" asp-controller="Usuarios" asp-action="Create">Cadastrar Usuário</a> </div>
                  <div class ="button"> <a class="buttons__encontrar--buscar" asp-controller="Servicos" asp-action="Create">Cadastrar Serviços</a> </div>
       
        </div>
   


    </section>






</body>