<head>
    <title>Limpou!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/styleFormaDePagamento.css">
    <link rel="shortcut icon" href="~/Imagens/logo_site.png">
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho_menu">
        
            <h1 class="texto_barra"> Formas de pagamento </h1>
        </nav>

    </header>

    <section>
        <div class="divDuvida">
        <div class="duvida">
        
       <p> As formas de pagamento são a partir da negociação entre o contratante e o empregador.
       <br> Em seus perfis estão as informações de contato, a partir daí é responsabilidade dos dois <br> sobre como 
        será feito o pagamento.
       </p>
        </div>
    </div>


    </section>






</body>