<head>
    <title>Limpou!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/styleFormaDePagamento.css">
    <link rel="shortcut icon" href="~/Imagens/logo_site.png">
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho_menu">
        
            <h1 class="texto_barra"> Formas de pagamento </h1>
        </nav>

    </header>

    <section>
        <div class="divDuvida">
        <div class="duvida">
        
       <p> O pagamento pelo serviço prestado será acordado entre o empregador e o colaborador, sendo que a reponsabilidade do pagamento do serviço prestado será de responsabilidade do empregador. A Limpou Faxinas insenta-se sobre qualquer responsabilidade sobre o serviço prestado ou o pagamento acordado entre os usuários. 
             
          
       <br/><br/> As informações dos Perfis também são de responsabilidades dos usuários <br> 
        
       </p>
        </div>
    </div>


    </section>






</body>