<head>
    <title>Limpou!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/styleFormaDePagamento.css">
    <link rel="shortcut icon" href="~/img/logo_site.png">
</head>

<body>
    <header class="cabecalho">
        <img class="logo_cabecalho" src="~/img/logo.png">
        <nav class="cabecalho_menu">
            <h1 class="texto_barra"> Sua maior rede de domésticas </h1>
        </nav>

    </header>

    <section>

        <div class="duvida">
        <h1>Formas de Pagamento</h1>
       <p> As formas de pagamento são a partir da negociação entre o contratante e o empregador.
       <br> Em seus perfis estão as informações de contato, a partir daí é responsabilidade dos dois <br> sobre como 
        Será feito o pagamento.
       </p>
        </div>
    


    </section>






</body>