<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Selecione o Serviço desejado</option>
  <option value="1">Faxina</option>
  <option value="2">Limpeza Leve</option>
  <option value="3">Almoço</option>
</select>

