<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="~/Imagens/logo.png"
    />

    <title>Página Inicial</title>

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Stylehome.css" />
</head>
<body>
      <section class="banner"><img src="~/Imagens/logosemfundo.png"></section>

      <h2>Como você deseja se conectar?</h2>
      <section class="buttons">
    @*  <div class="buttons__encontrar">

        <a href="#" class="buttons__encontrar--buscar">Buscar vagas</a>
        <a href="#" class="buttons__encontrar--contratar"> contratar </a>
      </div>*@

      <div class="btn-group">
          
            <a href="#" class="btn btn-primary">Buscar vagas</a>
            <a href="#" class="btn btn-primary">contratar</a>
       </div>
      </section>

      <br/>


      @*<a href="" class="conta">Já tem uma conta? Entrar</a>*@
        <div class="btn-group">
            <a href="#" class="btn btn-primary active" aria-current="page">Já tem uma conta?</a>
            <a href="#" class="btn btn-primary">Entrar</a>
            
       </div>
             
</body>