@model IEnumerable<Limpou_Faxinas.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>

<div>
    <br/><br/>

    <a class="buttons__encontrar--buscar" asp-controller="Home" asp-action="Index">Página Incial</a>

</div>