@{
    ViewData["Title"] = "Cadastrar";
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/Logo.png"
    />

    <title>Cadastro</title>

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />

</head>
<body>
    <section class="banner"><img src="img/logosemfundo.png"></section>

    <form class="cadastro">
        <div class="emailsenha">
                <label for="name">Nome</label>
                <input type="name" name="name" id="name" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="endereco">Cpf</label>
                <input type="text" name="cpf" id="cpf" required>
                <label for="telefone">Telefone de contato</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                <label for="pass">Senha</label>
                <input type="password" id="pass" name="password" minlength="8" required>
                        <label for="SEXO">SEXO</label>
                        <select name="select" id="lado">
                            <option value="feminino">Feminino</option>
                            <option value="masculino">Masculino</option>
                            <option value="Escolha" selected>Escolha</option>
                        </select>
        </div>
        <div class="buttons__encontrar">
            <button href="" class="buttons__encontrar--entrar", onclick="cadastrarUsuario()"> CRIE SUA CONTA </button>
        </div>
        <a href="esquecisenha.html" class="senha">Esqueceu a senha?</a>
    </form>

    <footer> 
      <strong>©Limpou! (2022) Todos os direitos reservados.</strong> 
    </footer>

    <script>
        function cadastrarUsuario() {
            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
            xmlhttp.open("POST", "https://localhost:44360/Login/Cadastrar");
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            var input = {
                "NomeUsuario": document.getElementById('name').value,
                "SenhaUsuario": document.getElementById('pass').value,
                "EmailUsuario": document.getElementById('email').value,
                "PerfilUsuario": "CLIENTE",
                "CpfUsuario": document.getElementById('cpf').value,
                "NumeroTelefoneUsuario": document.getElementById('phone').value,
            };
            xmlhttp.send(JSON.stringify(input));
        }
    </script>

</body>

</html>