@{
    ViewData["Title"] = "Login";
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/Logo.png"
    />

    <title>Login</title>

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styledev.css" />
    <script type="text/javascript" src="login.js"></script>
</head>
<body>
    <section class="banner"><img src="img/logosemfundo.png"></section>

    <form class="login">
        <div class="emailsenha">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="pass">Senha</label>
                <input type="password" id="pass" name="password" minlength="8" required>
        </div>
        <div class="buttons__encontrar">
            <button href="" class="buttons__encontrar--entrar" onclick="autenticarUsuario()"> ENTRAR </button>
        </div>
        <a href="esquecisenha.html" class="senha">Esqueceu a senha?</a>
    </form>

    <footer> 
      <strong>©Limpou! (2022) Todos os direitos reservados.</strong> 
    </footer>

    <script>
      let inputs = document.getElementsByClassName('input-form');
      for (let input of inputs) {
        input.addEventListener("blur", function() {
          if(input.value.trim() != ""){
            input.classList.add("has-val");
            window.open("home.html", "_self");
          } else {
            input.classList.remove("has-val");
          }
        });
      }

      function autenticarUsuario() {
            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
            xmlhttp.open("POST", "https://localhost:44360/Login/Autenticar");
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            var input = {
                "SenhaUsuario": document.getElementById('pass').value,
                "EmailUsuario": document.getElementById('email').value,
                "PerfilUsuario": "CLIENTE"
            };
            xmlhttp.send(JSON.stringify(input));
        }
    </script>

</body>
</html>