@import url('https://fonts.googleapis.com/css2? família=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-size: 100%;
    overflow-x: hidden;
    }

.cabecalho {
    display: flex;
    background-color: rgb(214, 23, 173);
    width: 100%;
    border-radius: 10px;
}


.texto_barra{
    
        display: flex;
        width: 100%;
        float:left;
        font-family: 'Anton', sans-serif;
        color: #ffffff;
        font-size: 40px;
        padding-top: 80px;
        padding-left: 10px;
}

.cabecalho_menu {
    background-color: rgb(214, 23, 173);
    padding: 0px;
    
}

section{
    display: flex;
    justify-content: center;
    margin: auto;
}

.duvida {
    width: 900px;
    height: 900px;
    padding: 50px;
    background-color: rgb(214, 23, 173);
    border-radius: 40px;
    margin: auto;
    }

h1 {
font-family: 'Anton', sans-serif;
text-align: center;
color: #ffffff;
font-size: 40px;
}

h2 {
padding-top: 20px;
font-family: 'Anton', sans-serif;
text-align: center;
color: #ffffff;
font-size: 35px;
}

h3 {
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    }
    
    h4 {
        padding-top: 30px;
        font-family: 'Anton', sans-serif;
        text-align: center;
        color: #ffffff;
        font-size: 35px;
        }
        h5 {
            padding-top: 50px;
            font-family: 'Anton', sans-serif;
            text-align: center;
            color: #ffffff;
            font-size: 35px;
            }
    

p{
padding-top: 30px;
font-family: 'Anton', sans-serif;
text-align: center;
color: #ffffff;
font-size: 20px;
}



