@import url('https://fonts.googleapis.com/css2? família=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    overflow-x: hidden;
}

.cabecalho {
    display: flex;
    background-color: rgb(214, 23, 173);
    width: 100%;
}

.logo_cabecalho {
    text-align: center;
    height: 50px;
    padding: 30px;
}

.texto_barra {
    display: inline-block;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 20px;
}
.cabecalho_menu {
    background-color: rgb(214, 23, 173);
    padding: 0px;
    margin: auto;
}


.duvida {
    
    padding: 50px;
    text-align: center;
    font-size: 20px;
}