html {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    max-width: 1440px;
    margin: 0 auto;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .banner {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 257px;
    left: 104px;
    top: 106px;
    margin: 25px 50px 20px 325px;
  
    background-size: cover;
  }
  .text{
    text-align: center;
    margin: 20px 10px 0 0;
  }
  h1, h2{
    font-size: 55px;
    font-weight: normal;
    color: #D83FA5;
  }
  p{
    font-weight: 400;
    font-size: 26px;
    text-align: center;
  }
  label {
    font-size: 45px;
  }
  input {
    border-radius: 10px;
    width: 540px;
    height: 61px;
    font-size: 30px;
  }
  button {
    width: 156px;
    height: 66px;
    border-radius: 10px;
    font-size: 48px;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .buttons__encontrar {
    display: flex;
    justify-content: space-between;
    width: 701px;
    margin: 10px 50px 40px ;
    font-size: 30px;
  }
  .buttons__encontrar--entrar {
    width: 39%;
    background-color: #FFFFFF;
    color: #D83FA5;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 5px;
    margin: 10px 50px 10px 50px;
  }
  .buttons__encontrar--entrar:hover {
    color: #CC74AF;
    background-color: #FFFFFF;
  }
  .login {
      display: flex;
      width: 769px;
      height: 564px;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin: 30px 150px 50px 380px;
      background-color: #D83FA5;
      padding: 100px 150px;
      box-shadow: -8px 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 39px;
  }
  .emailsenha{
      display: flex;
      margin: 50px 5px 0px -15px;
      flex-direction: column;
      color: #FFFFFF;
  }
  .senha{
      display: flex;
      margin: -15px 0px 0px 160px;
      color: #FFFFFF;
      font-size: 24px ;
  }
  .conta{
      display: flex;
      margin: 15px 50px 0px 580px;
      color: #D83FA5;
      font-size: 24px ;
  }
  
  @media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */
  }
  