@import url('https://fonts.googleapis.com/css2? família=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-size: 100%;
    overflow-x: hidden;
    }
    
.cabecalho {
    display: flex;
    background-color: rgb(214, 23, 173);
    width: 100%;
  
    
}

.logo_cabecalho {
text-align: center;
   height: 200px;
   padding: 30px;
}

.texto_barra{
    
        display: flex;
        width: 100%;
        float:left;
        font-family: 'Anton', sans-serif;
        color: #ffffff;
        font-size: 25px;
        padding-top: 85px;
        padding-left: 100px;
}

.cabecalho_menu {
    background-color: rgb(214, 23, 173);
    padding:0px;
}

section{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.duvida{
width: 900px;   
height: 700px;
padding: 50px; 
background-color: rgb(214, 23, 173);
border-radius: 15px;

}

h1 {
font-family: 'Anton', sans-serif;
text-align: center;
color: #ffffff;
font-size: 30px;
}

h2 {
padding-top: 50px;
font-family: 'Anton', sans-serif;
text-align: center;
color: #ffffff;
font-size: 20px;
}

h3 {
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    }
    
    h4 {
        padding-top: 50px;
        font-family: 'Anton', sans-serif;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        }
        h5 {
            padding-top: 50px;
            font-family: 'Anton', sans-serif;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
            }
    

p{
padding-top: 30px;
font-family: 'Anton', sans-serif;
text-align: center;
color: #ffffff;
font-size: 20px;
}

.button {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.button button {
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: rgb(213, 23, 173);
    box-shadow: 0px 0px 5px rgb(121, 120, 120) ;
}



