html {
 font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  max-width: 1440px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
label {
  margin: 50px 10px 10px 50px;	
  font-size: 45px;
}
input {
  border-radius: 10px;
  width: 540px;
  height: 61px;
  font-size: 30px;
  background-color: #D83FA5;
  color: #FFFFFF;
  border-radius: 39px;
  margin: 10px;
}
input::placeholder {
  justify-content: center;
  color: #FFFFFF;
}
.cabecalho{
	background-color: #D83FA5;
	justify-content: space-between;
}
a{
	color: #FFFFFF;
	font-size: 30px;
	margin: 10px 100px 10px 25px;
}
.localiza{
	display: flex;
	width: 40%;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	color: #D83FA5;
	margin: 40px 0px 5px 425px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons__encontrar {
  display: flex;
  justify-content: space-between;
  width: 701px;
  margin: 10px 50px 40px ;
  font-size: 55px;
}
.buttons__encontrar--avancar {
  width: 39%;
  background-color: #D83FA5;
  color: #FFFFFF;
  font-weight: 300;
  padding: 10px 40px;
  border-radius: 39px;
  text-align: center;
  box-shadow: 10px 10px 5px;
  margin: 10px 50px 10px 50px;
}
.buttons__encontrar--avancar:hover {
  color: #FFFFFF;
  background-color: #CC74AF;
}
.cabecalho{
  display: flex;
}
.cabecalho a {
	margin: 75px 20px 10px 50px;
	font-size: 40px ;
}
.cabecalho div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 75px 10px 25px 0px;
}

@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}