@import url('https://fonts.googleapis.com/css2? família=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-size: 100%;
    overflow-x: hidden;
    }
    
.cabecalho {
    display: flex;
    background-color: rgb(214, 23, 173);
    width: 100%;
  
    
}

.logo_cabecalho {
text-align: center;
   height: 200px;
   padding: 30px;
}

.circulo {
    display: flex;
    float: right;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    
}
.texto_barra{
    
        display: inline-block;
        font-family: 'Anton', sans-serif;
        color: #ffffff;
        font-size: 20px;    
}

.texto_barra1{

        display: inline-block;
        font-family: 'Anton', sans-serif;
        color: #ffffff;
        font-size: 20px;
        margin-left: 150px;
        margin-right: 30px;
        margin-top: 20px;
        
}

.cabecalho_menu {
    background-color: rgb(214, 23, 173);
   margin: auto;
}

.texto_feedback{
    display: float;
    text-align: center;
    color: rgb(214, 23, 173);
    font-family: 'Anton', sans-serif;
    padding: 100px;
}

.container {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.quadrado1 {
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color:rgb(214, 23, 173) ;
    margin: 30px;
    border-radius: 30px;
    color: #ffffff;

}

p {
    font-size: 25px;
    padding: 50px;
}

.botoes{
    text-align: center;
    
}

.botao_voltar{
    display: inline-block;
    text-align: center;
}

.botao_voltar button{
    width: 105px;
    height: 40px;
    background-color: rgb(214, 23, 173);
    font-size:15px;
    color: white;
    border: none;
    font-family: 'Anton', sans-serif;
    border-radius: 20px;
    margin-top: 80px;
    
    
}

.botao_feedback{
    display: inline-block;
    
}

.botao_feedback button{
    width: 105px;
    height: 40px;
    background-color: rgb(214, 23, 173);
    font-size:15px;
    color: white;
    border: none;
    font-family: 'Anton', sans-serif;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 30px;
}



footer {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Anton', sans-serif;
    color: rgb(214, 23, 173)
}